<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.walware.statet.r.launchConfigurationTypes.RCmdTool">
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.cmd" value="CMD build"/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.options" value="--binary "/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.resource" value="${project_loc}"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/REnvSetting" value="WORKBENCH"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/code" value="WORKBENCH"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/workingDirectory" value=""/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
</launchConfiguration>
